<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Heart Failure Prediction</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css')}}" />

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" />


</head>

<body>
    <div class="img"></div>
	<div id="prediction" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="predict-form">
						<div class="form-header">
							<h1>Heart Failure Prediction</h1>
						</div>
						<form action="{{url_for('predict')}}" method="post">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<span class="form-label">Age</span>
										<input class="form-control" name="age" type="text" placeholder="Enter Age of Patient">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<span class="form-label">Anaemia Status</span>
										<input class="form-control" name="anaemia" type="text" placeholder="Enter Status (0 : No, 1:Yes)">
									</div>
								</div>
							</div>
                            <div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<span class="form-label">Creatinine Phosphokinase</span>
										<input class="form-control" name="creatinine_phosphokinase" type="text" placeholder="Enter Creatinine Phosphokinase ">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<span class="form-label">Ejection Fraction</span>
										<input class="form-control" name="ejection_fraction" type="text" placeholder="Enter Ejection Fraction Value">
									</div>
								</div>
							</div>
                            <div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<span class="form-label">High Blood Pressure Status</span>
										<input class="form-control" name="high_blood_pressure" type="text" placeholder="Enter Status (0:No, 1:Yes)">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<span class="form-label">Platelets</span>
										<input class="form-control" name="platelets" type="text" placeholder="Enter Platelets Value">
									</div>
								</div>
							</div>
                            <div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<span class="form-label">Serum Creatinine</span>
										<input class="form-control" name="serum_creatinine" type="text" placeholder="Enter Serum Creatinine Value">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<span class="form-label">Serum Sodium</span>
										<input class="form-control" name="serum_sodium" type="text" placeholder="Enter Serum Sodium Value">
									</div>
								</div>
                            </div>
                            <div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<span class="form-label">Follow-up time (in days)</span>
										<input class="form-control" name="time" type="text" placeholder="Enter Follow-up time (in days)">
									</div>
								</div>
                            </div>
							<div class="form-btn">
								<button class="submit-btn">Predict</button>
							</div>
                            <div class="form-btn">
								<p class="message">Result : {{prediction_text}}</p>
							</div>
						</form>
                        
					</div>
				</div>
			</div>
		</div>
	</div>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>